body 
{
	background-color : green;
	font-family: "Times New Roman", Times, serif;
}

#test
{
	background-color : grey;
	border-radius: 10px;
	text-align : center;
	display : block ;
	margin-left : 50xp;
	margin-right : 50xp;
}

h1
{
	color : red;
	text-align : center;
}
